/*general style*/
body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.section-title {
    font-family: 'Linear Sans', sans-serif;
    font-size: 36px;
    text-align: left;
}

.description-text {
    text-align: left;
    line-height: 36px;
    color :#495057;
}

.no-margin {
    margin : 0;
}

.feature {
    text-align: left;
}


/*header*/
.header {
    display : flex;
    justify-content: space-around;
    align-items: center;
    position : fixed;
    border-bottom: solid 1px #e0dbdb;
    padding : 12px 6px;
    top : 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.nav-link {
    color :#495057;
}

.nav-list {
    padding : 0 12px;
}

.nav-items-list {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 10px;
}

.nav-items-list li {
    list-style: none;
}

.nav-items-list li a {
    text-decoration: none;
}

/*main*/
.main {
    padding-top: 170px;
}

/*main - hero*/
.hero-buttons, .nav-items-list {
    gap : 0.8rem;    
}

.hero-text {
    padding : 0 400px; text-align: center; line-height: 30px;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 0;
}

.hero-btn {
    display: inline-block;
}

/*templates section*/
.template {
    display : flex;
    flex-direction: column;
    background-color: #fbfbfb;
}

.template-details {
    text-align: left;
}

.template-description {
    line-height: 30px;
}

.secondary-info {
    color : #868e96;
}

/*launch section*/
.launch-steps {
    display : flex;
    flex-direction: column;
    gap : 12px;
} 

.launch-img {
    border : dotted 1px blue;
    height: 100%;
    width: 100%;
}

.launch-step {
    display : flex;
    align-items: center;
    gap : 16px;
}

.title,
.paragraph {
    text-align: left;
}

.title {
    font-weight: 700;
    font-size: 18px;
}

.icon-frame {
    background-color: #6952f9;
    border-radius: 10px;
    display: inline-block;
    padding : 24px;
}

.icon {
   color : #fff;
   font-size: 32px;
}

/*faq sections*/
.faq-two-sections {
    display : flex;
    gap : 84px;
}

.left-questions, .right-questions {
    display : flex;
    flex-direction: column;
}

.question-box {
    display: flex;
    flex-direction: column;
}

.asnwer p {
    text-align: left;
    color : #000;
}

.asnwer {
    background-color: #fbfbfb;
}

.question-first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    font-weight: 700;
    font-size: 18px;
}

.icon-frame-faq  {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #000;
    align-items: center;
    width : 40px;
    height: 40px;
}

.icon-frame-faq .icon {
    font-size: 24px;
}

.question {
    display: flex;
    justify-content: space-between;
    gap : 64px;
}

/*plan section*/
.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 12px;
    align-items: flex-start;
    background-color: #fbfbfb;
    border-radius: 10px;
    border: solid 1px #ced4da;
    padding : 24px;
}

.plan-title {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
}

.plan-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.redirect-icon-frame {
    background-color: #000;
    border-radius : 5px;
    padding : 8px;
}

.price {
    font-weight: 500;
}

.feature-icon {
    font-size: 24px;
}

.redirect-icon {
    font-size: 18px;
    color : #fff;
} 

.feature-ctb a.btn {
    background-color: #000;
}

.plan-features {
    display : flex;
    flex-direction: column;
    gap : 12px;
}

.feature {
    display : flex;
    align-items: center;
    gap : 12px;
}


.plan-text-description {
    text-align: left;
    line-height: 28px;
    color : #868e96;
}

/*talk to sales section*/
.call-icon {
    background-color: #ffe05c;
}

.email-icon {
    background-color: #683f1d;
}

/*footer section*/
.footer-section {
    padding : 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top : solid 1px #000;
}

.icon-social {
    font-size: 24px;
    color : #000;
}

.copyright-text {
    text-align: left;
}

.socials-list {
    display: flex;
    gap : 18px;
}

.socials-list li {
    list-style : none;
}

/*HELPER CLASSES*/ 
.container-large {
    padding: 0 300px;
}

.colored-bckgrnd {
    background-color: #fbfbfb;
}

.top-down-padding {
    padding: 60px 0;
}


.text-center {
    text-align: center;
}

.medium-large-padding {
    padding-right : 122px;
}

.flex-centered {
    display : flex;
    align-items: center;
    justify-content: center;
}

.grid-with-3-equal-columns {
    display : grid;
    gap : 18px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.grid-with-4-equal-columns {
    display: grid;
    gap : 16px;
    grid-template-columns: repeat(4, 1fr);

}

.grid-with-2-equal-columns {
    display : grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.launch-section {
    align-self: start;
}

.text-description {
    text-align: left;
}

.large-margin-top {
    margin-top: 70px;
}

.large-margin-bottom {
    margin-bottom: 80px;
}

.btn {
    width: 120px;
    height: 30px;
    display: flex;
    max-width: 150px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 85px;
    background-color: #6952f9;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
}

.highlight-feature {
    color :#6952f9;
}
