/*general style*/
html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.section-title {
    font-family: 'Linear Sans', sans-serif;
    font-size: 3.6rem;
    text-align: left;
}

.relative-positioned {
    position: relative;
}

.bold-text {
    font-weight: 700;
}

.description-text {
    text-align: left;
    font-size: 1.6rem;
    line-height: 36px;
    color :#495057;
}

.no-margin {
    margin : 0;
}

.small-margin-top {
    margin-top : 1.8rem;
}

.secondary-info {
    color : #868e96;
    font-weight: 600;
    font-size: 1.8rem;
}

.secondary-info-small {
    color : #868e96;
    font-size: 1.4rem;
}

/*header*/
.header {
    display : flex;
    justify-content: space-around;
    align-items: center;
    position : fixed;
    border-bottom: solid 1px #e0dbdb;
    padding : 1.2rem 0.6rem;
    top : 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.nav-mobile {
    display: none;
}

.nav-link {
    color :#495057;
}

.nav-list {
    padding : 0 1.2rem;
}

.nav-link {
    font-size: 1.6rem;
}

.nav-items-list {
    display : flex;
    justify-content: center;
    align-items: center;
    gap : 1.0rem;
}

.nav-items-list li {
    list-style: none;
}

.nav-items-list li a, .mobile-nav-lists a {
    text-decoration: none;
}

/*header - (mobile nav)*/
.mobile-nav-lists li {
    list-style: none;
}

.mobile-nav-list a {
    font-size: 1.8rem;
    color:#6952f9;
    font-weight: 800;
}

.mobile-primary-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding : 0.8rem 0;
    align-items: center;
}

.nav-body {
    display: none;
}

.mobile-nav-icon {
    display: none;
    font-size: 4.8rem;
    color :#6952f9;
}

.mobile-nav-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
    gap : 4.8rem;
    padding: 0;
    height: 60vh;
} 


/*main*/
.cool-back-pattern {
    padding-top: 17.0rem;
    height: 100vh;
    padding-bottom: 5.0rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%236952f9' fill-opacity='0.02' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

/*main - hero*/
.hero-buttons, .nav-items-list {
    gap : 0.8rem;    
}

.plan-section {
    position: relative;
}

.hero-text {
    text-align: center; line-height: 3.0rem;
}

.hero-title {
    font-size: 4.8rem;
    margin-bottom: 0;
}

.hero-btn {
    display: inline-block;
}

/*templates section*/
.template {
    display : flex;
    flex-direction: column;
    background-color: #fbfbfb;
}

.template-details {
    text-align: left;
}

.template-description {
    line-height: 30px;
}

/*launch section*/
.launch-steps {
    display : flex;
    flex-direction: column;
    gap : 18px;
} 

.launch-img {
    border : dotted 1px blue;
    height: 100%;
    width: 100%;
}

.launch-step {
    display : flex;
    align-items: center;
    gap : 16px;
}

.title,
.paragraph {
    text-align: left;
}

.title {
    font-weight: 700;
    margin : 0;
    font-size: 18px;
}

/*why viterbi section*/
.icon {
    background-color: #6952f9;
    border-radius: 5px;
    padding : 1.8rem;
    color : #fff;
    font-size: 32px;
}

.extra-space {
    padding : 8.0rem 0;
}

/*plan section*/
.plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 12px;
    align-items: flex-start;
    background-color: #fbfbfb;
    border-radius: 10px;
    border: solid 1px #ced4da;
    padding : 24px;
}

.plan-title {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
}

.feature-text {
    font-size: 1.6rem;
}

.plan-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.redirect-icon-frame {
    background-color: #000;
    border-radius : 5px;
    padding : 8px;
}

.price {
    font-weight: 500;
}

.feature-icon {
    font-size: 24px;
}

.redirect-icon {
    font-size: 18px;
    color : #fff;
} 

.feature-ctb a.btn {
    background-color: #000;
}

.plan-features {
    display : flex;
    flex-direction: column;
    gap : 12px;
}

.feature {
    display : flex;
    text-align: left;
    flex-direction: column;
    gap : 12px;
    padding: 0;
}


.plan-text-description {
    text-align: left;
    line-height: 28px;
    color : #868e96;
}

/*faq sections*/
.faq-two-sections {
    display : flex;
    gap : 84px;
}

.left-questions, .right-questions {
    display : flex;
    flex-direction: column;
}

.flex-container {
    display : flex;
    gap : 18px;
    align-items: center;
}

.question-box {
    display: flex;
    flex-direction: column;
}

.asnwer p {
    text-align: left;
    color : #000;
}

.asnwer {
    background-color: #fbfbfb;
}

.question-first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question {
    font-weight: 700;
    font-size: 18px;
}

.faq-icon {
    background-color: #000;
    border-radius: 5px;
    padding : 1.2rem;
    color : #fff;
    font-size: 2.4rem;    
}

.icon-frame-faq .icon {
    font-size: 24px;
}

.question {
    display: flex;
    justify-content: space-between;
    gap : 64px;
}


/*talk to sales section*/
.call-icon {
    background-color: #ffe05c;
}

.contact-illustration-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.email-icon {
    background-color: #683f1d;
}

/*footer section*/
.footer-section {
    padding : 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top : solid 1px #000;
}

.icon-social {
    font-size: 24px;
    color : #000;
}

.copyright-text {
    text-align: left;
}

.socials-list {
    display: flex;
    gap : 18px;
}

.socials-list li {
    list-style : none;
}

/*HELPER CLASSES*/ 
.container-large {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.colored-bckgrnd {
    background-color: #fbfbfb;
}

.top-down-padding {
    padding: 6.0rem 0;
}


.text-center {
    text-align: center;
}

.medium-large-padding {
    padding-right : 122px;
}

.flex-centered {
    display : flex;
    align-items: center;
    justify-content: center;
}

.grid-with-3-equal-columns {
    display : grid;
    gap : 18px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.grid-with-4-equal-columns {
    display: grid;
    gap : 16px;
    grid-template-columns: repeat(4, 1fr);
}

.grid-with-2-equal-columns {
    display : grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.launch-section {
    align-self: start;
}

.text-description {
    text-align: left;
}

.large-margin-top {
    margin-top: 70px;
}

.large-margin-bottom {
    margin-bottom: 80px;
}

.btn {
    width: 120px;
    height: 30px;
    display: flex;
    max-width: 150px;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 85px;
    background-color: #6952f9;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.highlight-feature {
    color :#6952f9;
}


/*WAVES ON THE WHY VITERBI SECTION*/
.custom-shape-divider-top-1655836755 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1655836755 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 47px;
}

.custom-shape-divider-top-1655836755 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1655836818 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1655836818 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 24px;
}

.custom-shape-divider-bottom-1655836818 .shape-fill {
    fill: #FFFFFF;
}


/*background colors*/
.light-pink-backgrnd {
   background-color: #ff83fb;
}